@media (orientation: portrait) and (max-width: 700px) {
  .container {
    margin: 4px 0 0 0;
    max-width: none;
    padding: 14px 14px 0 14px;
    box-shadow: none;
  }

  .top-section {
    margin-bottom: 4px;
    flex: 0 0 auto;
  }

  .top-section h1 {
    margin-bottom: 6px;
    font-size: 1rem;
  }

  .top-section p {
    margin-bottom: 2px;
    margin-left: 3px;
    font-size: 0.65rem;
    overflow-wrap: break-word;
  }

  footer {
    margin: 0;
    padding: 0;
  }
}
